<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1 class="title"><%= title %></h1>
    <a href="/new"><button class="createBtn">Create a new message</button></a>
    <div class="app-container">
      <ul class="messageList">
        <% messages.forEach(message => { %>
        <li class="item">
          <h3><%= message.user %></h3>
          <p class="date"><%= message.added %></p>
          <p class="text"><%= message.text %></p>
        </li>

        <%})%>
      </ul>
    </div>
  </body>
</html>
